.jcarousel-skin-tango .jcarousel-container {
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 540px;
    padding: 5px 20px 20px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  540px;
    height: 102px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 102px;
    height: 102px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 8px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 8px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/* customed layout*/
.content .jcarousel-skin-tango .jcarousel-container-horizontal{
	width:540px;
	padding: 0 20px 0 20px;
}

.content .jcarousel-skin-tango .jcarousel-clip-horizontal{
	width:540px
}
.content .jcarousel-skin-tango .jcarousel-item-horizontal{
    margin-left: 3px;
    margin-right: 3px;
}

.minigallery.boxed .jcarousel-skin-tango .jcarousel-container-horizontal {
	width:520px;
	padding: 0 15px 0 15px;
}
.minigallery.boxed .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:514px;
}
.minigallery.boxed .jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 15px;
    margin-right: 15px;
}

.minigallery.boxed .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 5px;
}

.minigallery.boxed .jcarousel-skin-tango .jcarousel-next-horizontal {
	right: 0px;}
	
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 14px;
    height: 20px;
    cursor: pointer;
    background: transparent url(next-horizontal3.png) no-repeat 0 0;
}
.footer .jcarousel-skin-tango .jcarousel-next-horizontal,
.footer .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal  {
    background-image: url(next-horizontal3.png);
}

.bottom_1 .jcarousel-skin-tango .jcarousel-next-horizontal,
.bottom_1 .jcarousel-skin-tango .jcarousel-prev-horizontal {
	top: 40px;}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal3.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -14px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -28px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -42px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 14px;
    height: 20px;
    cursor: pointer;
    background: transparent url(prev-horizontal3.png) no-repeat 0 0;
}
.footer .jcarousel-skin-tango .jcarousel-prev-horizontal,
.footer .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    background-image: url(prev-horizontal3.png);
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal3.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -14px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -28px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -42px 0;
}